.movie-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background-color: #ffffff;
}

.movie-card {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  overflow: hidden;
  padding: 20px;
}

.movie-card-text {
  flex: 1;
  padding-right: 20px;
  color: #333;
}

.movie-card-text h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.movie-card-text p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 10px 0;
}

.movie-card-image {
  flex-shrink: 0;
  max-width: 500px;
}

.movie-card-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1100px) {
  .movie-card {
    flex-direction: column;
    align-items: center;
  }

  .movie-card-text {
    padding-right: 0;
    text-align: center;
  }

  .movie-card-text h1 {
    font-size: 2rem;
  }

  .movie-card-image {
    max-width: 100%;
    margin-top: 20px;
  }

  .movie-card-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

@media (max-width: 480px) {
  .movie-card {
    padding: 10px;
  }

  .movie-card-text h1 {
    font-size: 1.8rem;
  }

  .movie-card-text p {
    font-size: 1rem;
  }
}

.overview {
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 15px;
}
.wishlist-button {
  margin-top: 24px;
  margin-right: 24px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.wishlist-button:hover {
  background-color: #0056b3;
}

.wishlist-button:disabled {
  background-color: #28a745;
}

.movie-infos {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.actors-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.actor-item {
  width: 18%;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section Films Similaires */
.similar-movies {
  margin-top: 40px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.similar-movies h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.movie-popular-container:hover {
  transform: scale(1.05);
}

.movie-image-container {
  width: 100%;
  min-height: 404px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.movie-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-info {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.details-button {
  display: inline-block;
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.details-button:hover {
  background-color: #0056b3;
}

.details-button:active {
  background-color: #004085;
}
@media (max-width: 768px) {
  .movie-popular-list-container {
    flex-direction: column;
    align-items: center;
  }

  .movie-popular-container {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
}
