.movie-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background-color: #ffffff;
}

.movie-card {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  overflow: hidden;
  padding: 20px;
}

.movie-card-text {
  flex: 1;
  padding-right: 20px;
  color: #333;
}

.movie-card-text h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.movie-card-text p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 10px 0;
}

.movie-card-image {
  flex-shrink: 0;
  width: 250px;
}

.movie-card-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.overview {
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 15px;
}
.wishlist-button {
  margin-top: 24px;
  margin-right: 24px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.wishlist-button:hover {
  background-color: #0056b3;
}

.wishlist-button:disabled {
  background-color: #28a745;
}

.movie-infos {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.actors-list {
  display: flex;
  justify-content: space-between;
}

.actor-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
